body {
    background-color: #A4AA88;
    font-family: 'Lucida Grande', 'Arial', sans-serif;
}

.title-morning {
    width: 350px;
    font-size: 24px;
    margin: auto;
    color: beige;
}

.table {
    margin: auto;
    width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
    color: beige;
}

li {
    height: 30px;
}