body {
    background-color: #A4AA88;
    font-family: 'Lucida Grande', 'Arial', sans-serif;
}

.title-morning {
    width: 600px;
    font-size: 48px;
    margin: auto;
    color: beige;
}

.table {
    margin: auto;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 30px;
    color: beige;
    font-size: 36px;
}

li {
    height: 60px;
}